{% extends "base.html.twig" %}
{% block title %} {{ evenement.label }} {% endblock %}
{% block body %}

<div class="container">
<h1>{{ evenement.label }}</h1>
<p> {{ evenement.date|date("m/d/Y") }} </p>
<p> {{ evenement.description }} </p>
<p> {{ evenement.localisation }} </p>
<p> {{ evenement.createdAt|date("m/d/Y") }} </p>
<p> {{ evenement.updatedAt|date("m/d/Y") }} </p>



<p>{{evenement.adresse.label|default('pas d\'adresse associé')}}</p>
<p>{{evenement.adresse.number}}</p>
<p>{{evenement.adresse.street}}</p>
<p>{{evenement.adresse.city}}</p>
<p>{{evenement.adresse.country}}</p>



</div>



{% endblock %}